@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

/* navbar */
nav {
    font-size: large;
}

.navbar-brand img {
    width: auto;
    height: 65px;
    opacity: 0.8;
}

.navbar-brand img:hover {
    opacity: 1;
}

.dropdown-menu-dark {
    border: none !important; 
}

/* main */
#principal {
    display: flex;
    flex-direction: row;
    background-color: rgb(33, 37, 41);
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

@media only screen and (max-width: 992px) {
    #principal {
        flex-direction: column;
    }
}

#texto {
    font-family: "Black Ops One",'Courier New', Courier, monospace;
    color: white;
    font-size: larger;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#texto p {
    text-align: center;
}

#imagen {
    flex: 1;
    margin: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

#imagen img {
    max-width: 100%;
    max-height: 100%;
}

/* sección productos carrusel */
section {
    background-color: rgb(231, 152, 50);
}

h2 {
    text-align: center;
    padding: 50px 20px 20px;
    font-family: "Black Ops One",'Courier New', Courier, monospace;
}

#carrusel-productos {
    padding-bottom: 50px;
}

.carousel-item {
    display: flex;
    justify-content: center;
}

.carousel-inner {
    width: 60% !important;
    margin: auto;
}

.carousel-inner:hover {
    opacity: 0.8;
}

.d-block {
    width: 100%;
    margin: auto;
    height: 500px;
    object-fit: cover;
}

.carousel-caption h3 {
    font-family: "Black Ops One",'Courier New', Courier, monospace;
    text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.5);
}

/* #btn-ver-mas {
    display: flex;
    justify-content: right;
    margin-right: 20%;
}

.ver-mas {
    border: 1px solid black !important;
    margin: 20px 0;
} */

/* banner */
#banner {
    background-color: black;  
    display: flex;
    justify-content: center;
}

#banner a {
    display: flex;
    justify-content: center;
    width: 50%;
}

#banner a img{
    width: 100%;
}

/* Footer */
footer {
    background-color: rgb(33, 37, 41);
    color: white;
    padding: 20px 20px 6px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
}

.footer-column-fa {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.footer-column {
    padding: 0 10px;
}

footer h6 {
    font-family: "Black Ops One",'Courier New', Courier, monospace;
    font-size: large;
}

.fa-brands {
    color: white;
    margin: 5px;
}

.footer-column ul {
    list-style-type: none;
    padding: 0;
}

.footer-column a {
    text-decoration: none;
    color: inherit;
}

.footer-column li {
    display: list-item;
}

footer .bottom-bar {
    text-align: center;
    font-size: 12px;
}








